<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="robots" content="" />
        <meta name="format-detection" content="telephone=no" />
        <title>Centro Social</title>
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/icon.png" />

        <!-- Custom Stylesheet -->
        <link href="./assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
        <link href="./assets/css/style.css" rel="stylesheet" />
    </head>

    <body>
        <!--*******************Preloader - INICIO********************-->
        <div id="preloader">
            <div class="sk-three-bounce">
                <div class="sk-child sk-bounce1"></div>
                <div class="sk-child sk-bounce2"></div>
                <div class="sk-child sk-bounce3"></div>
            </div>
        </div>
        <!--*******************Preloader - FIN********************-->

        <!--**********************************Main - INICIO***********************************-->
        <div id="main-wrapper">
            <%- include('header'); -%>

            <!--**********************************Contenido Body - INICIO***********************************-->
            <div class="content-body">
                <div class="container-fluid">
                    <!-- row -->

                    <div class="row">
                        <div class="col-12">
                            <div class="row" id="miDiv">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Estudiantes Becados</h4>
                                            <button onclick="descargarPdfEstudiantesBecados()" type="button" class="btn btn-rounded btn-secondary">
                                                <i class="fa fa-download color-warning"></i>
                                            </button>
                                        </div>
                                        <div class="card-body">
                                            <canvas id="grafico-becados"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Estudiantes Financiados</h4>
                                            <button onclick="descargarPdfEstudiantesFinanciados()" type="button" class="btn btn-rounded btn-secondary">
                                                <i class="fa fa-download color-warning"></i>
                                            </button>
                                        </div>
                                        <div class="card-body">
                                            <canvas id="grafico-financiamiento"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Estudiantes Inscritos</h4>
                                            <button onclick="descargarPdfEstudiantesInscritos()" type="button" class="btn btn-rounded btn-secondary">
                                                <i class="fa fa-download color-warning"></i>
                                            </button>
                                        </div>
                                        <div class="card-body">
                                            <canvas id="grafico-inscripciones"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Capacitación demandada</h4>
                                            <button onclick="descargarPdfCapacitacionesDemandadas()" type="button" class="btn btn-rounded btn-secondary">
                                                <i class="fa fa-download color-warning"></i>
                                            </button>
                                        </div>
                                        <div class="card-body">
                                            <canvas id="grafico-capacitaciones"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div id="content">
        <h2 class="text-center">Export from HTML</h2>
        </p>
        <br>
        <table id="demo" class="table table-bordered">
          <thead>
            <tr>
              <th>Serial Number</th>
              <th>Name</th>
              <th>Percentile</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>James</td>
              <td>8.9</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Harry</td>
              <td>7.6</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Emma</td>
              <td>7.0</td>
            </tr>
          </tbody>
        </table>
        <div>
          <button class="btn" id="export">Save</button>
        </div>

        <br>

      </div> -->
                </div>
            </div>

            <!--**********************************Contenido Body - FIN***********************************-->
        </div>
        <!--**********************************Main - FIN***********************************-->

        <!--**********************************Scripts***********************************-->
        <!-- Required vendors -->
        <script src="./assets/vendor/global/global.min.js"></script>
        <script src="./assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <script src="./assets/js/custom.min.js"></script>
        <script src="./assets/js/deznav-init.js"></script>

        <!-- Chart ChartJS plugin files -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>

        <!-- jsPDF plugin -->
        <script src="https://parall.ax/parallax/js/jspdf.js"></script>

        <!-- script datos graficos -->
        <script src="./assets/js/personalizados/datos-pie-chart.js"></script>

        <!-- SweetAlet -->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <%if(esAlerta){%>
        <script>
            Swal.fire({
                title: '<%= alertaTitulo %>',
                text: '<%= alertaMensaje %>',
                icon: '<%= alertaIcono %>',
                showConfirmButton: <%= mostrarBotonConfirmacion %>,
                timer: <%= timer %>
            }).then(()=> {
                window.location = '/<%= rutaRedireccion %>'
            });
        </script>
        <%}%> <%if(esAlertaSinRecarga){%>
        <script>
            Swal.fire({
                title: '<%= alertaTitulo %>',
                text: '<%= alertaMensaje %>',
                icon: '<%= alertaIcono %>',
                showConfirmButton: <%= mostrarBotonConfirmacion %>,
                timer: <%= timer %>
            })
        </script>
        <%}%>
    </body>
</html>
