<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="robots" content="" />
        <meta name="format-detection" content="telephone=no" />
        <title>Centro Social</title>
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/icon.png" />
        <!-- Datatable -->
        <link href="./assets/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
        <!-- Custom Stylesheet -->
        <link href="./assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
        <link href="./assets/css/style.css" rel="stylesheet" />
        <!-- Select 2 -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    </head>

    <body>
        <!--*******************Preloader - INICIO********************-->
        <div id="preloader">
            <div class="sk-three-bounce">
                <div class="sk-child sk-bounce1"></div>
                <div class="sk-child sk-bounce2"></div>
                <div class="sk-child sk-bounce3"></div>
            </div>
        </div>
        <!--*******************Preloader - FIN********************-->

        <!--**********************************Main - INICIO***********************************-->
        <div id="main-wrapper">
            <%- include('header'); -%>

            <!--**********************************Contenido Body - INICIO***********************************-->
            <div class="content-body">
                <div class="container-fluid">
                    <!-- row -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">MATRICULAS</h4>
                                    <a href="javascript:void();;" class="btn light btn-primary mb-1" data-bs-toggle="modal" data-bs-target="#modalCrearMatricula">Crear</a>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="tabla-matriculas" class="display dataTable_width_auto" style="width: 100%">
                                            <thead>
                                                <tr>
                                                    <th hidden>id_matricula</th>
                                                    <th hidden>id_usuario_estudiante</th>
                                                    <th hidden>id_capacitacion</th>
                                                    <th>ESTUDIANTE</th>
                                                    <th>CAPACITACIÓN</th>
                                                    <th>ESTADO</th>
                                                    <% if(usuarioLogin.id_rol != 4 && usuarioLogin.id_rol != 5){ %>
                                                    <th>ACCIÓN</th>
                                                    <% } %>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <% datosMatriculas.forEach((matricula) => { %>
                                                <tr>
                                                    <td hidden><%= matricula.id_matricula %></td>
                                                    <td hidden><%= matricula.id_usuario_estudiante %></td>
                                                    <td hidden><%= matricula.id_capacitacion %></td>
                                                    <td><%= matricula.nombre_estudiante %></td>
                                                    <td><%= matricula.nombre_capacitacion %></td>
                                                    <% if(matricula.estado == 'S'){%>
                                                    <td>
                                                        <span class="badge badge-success">Activo<span class="ms-1 fa fa-check"></span></span>
                                                    </td>
                                                    <% } else{%>
                                                    <td>
                                                        <span class="badge badge-danger">Inactivo<span class="ms-1 fa fa-ban"></span></span>
                                                    </td>
                                                    <%}%><% if(usuarioLogin.id_rol != 4 && usuarioLogin.id_rol != 5){ %>
                                                    <td>
                                                        <div class="d-flex">
                                                            <!-- <a onclick="editar(<%= matricula.id_matricula%>, <%= matricula.id_estudiante%>, <%= matricula.id_matricula%>)" class="btn btn-primary shadow btn-xs sharp me-1" data-bs-toggle="modal" data-bs-target="#modalModificarMatricula"><i class="fas fa-pencil-alt"></i></a> -->
                                                            <a onclick="confirmarEliminacion(<%= matricula.id_matricula%>)" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                                            <a onclick="cambiarEstado(<%= matricula.id_matricula%>, '<%= matricula.estado%>')" class="btn shadow btn-xs sharp"><i class="fas fa-ellipsis-v"></i></a>
                                                        </div>
                                                    </td>
                                                    <% } %>
                                                </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--********************************** Modal CREAR CAPACITACION - INICIO**********************************-->
            <div class="modal fade" id="modalCrearMatricula">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Crear Matrícula</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/matriculas" method="POST" class="comment-form">
                                <input hidden type="text" name="accion" value="insertar" />
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="text-black font-w600 form-label" for="idCapacitacion">Capacitación<span class="required">*</span></label>
                                            <select onchange="setearHorario()" id="selectCrearCapacitacion" class="form-select" name="idCapacitacion">
                                                <option value="0">Seleccione una capacitación...</option>
                                                <% datosCapacitaciones.forEach((capacitacion) => { %>
                                                <option value="<%= capacitacion.id_capacitacion%>"><%= capacitacion.nombre%></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="text-black font-w600 form-label" for="idEstudiante">Estudiantes<span class="required">*</span></label>
                                            <select id="selectCrearEstudiante" class="form-select" name="idEstudiante">
                                                <option value="0">Seleccione un estudiante...</option>
                                                <% datosEstudiantes.forEach((estudiante) => { %>
                                                <option id="<%= estudiante.id_usuario%>" value="<%= estudiante.id_usuario%>"><%= estudiante.cedula + ' - ' + estudiante.nombres + ' ' + estudiante.apellidos%></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="text-black font-w600 form-label">Horario</label>
                                            <input id="inputIdHorario" type="text" class="form-control" disabled />
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Cerrar</button>
                                    <input type="submit" value="Guardar" class="submit btn btn-primary" name="submit" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--********************************** Modal MODIFICAR CAPACITACION - INICIO**********************************-->
            <div class="modal fade" id="modalModificarMatricula">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Crear Matrícula</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/matriculas" method="POST" class="comment-form">
                                <input hidden type="text" name="accion" value="insertar" />
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="text-black font-w600 form-label" for="idCapacitacion">Capacitación<span class="required">*</span></label>
                                            <select id="selectModificarCapacitacion" class="form-select" name="idCapacitacion">
                                                <option value="0">Seleccione una capacitación...</option>
                                                <% datosCapacitaciones.forEach((capacitacion) => { %>
                                                <option value="<%= capacitacion.id_capacitacion%>"><%= capacitacion.nombre%></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="text-black font-w600 form-label" for="idEstudiante">Estudiantes<span class="required">*</span></label>
                                            <select id="selectModificarEstudiante" class="form-select" name="idEstudiante">
                                                <option value="0">Seleccione un estudiante...</option>
                                                <% datosEstudiantes.forEach((estudiante) => { %>
                                                <option value="<%= estudiante.id_usuario%>"><%= estudiante.cedula + ' - ' + estudiante.nombres + ' ' + estudiante.apellidos%></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Cerrar</button>
                                    <input type="submit" value="Guardar" class="submit btn btn-primary" name="submit" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--**********************************Contenido Body - FIN***********************************-->
        </div>
        <!--**********************************Main - FIN***********************************-->

        <!--**********************************Scripts***********************************-->
        <!-- Required vendors -->
        <script src="./assets/vendor/global/global.min.js"></script>
        <script src="./assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <script src="./assets/js/custom.min.js"></script>
        <script src="./assets/js/deznav-init.js"></script>

        <!-- Datatable -->
        <script src="./assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
        <script src="./assets/js/plugins-init/datatables.init.js"></script>

        <!-- SweetAlet -->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Select2 -->
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        <%if(esAlerta){%>
        <script>
            Swal.fire({
                title: '<%= alertaTitulo %>',
                text: '<%= alertaMensaje %>',
                icon: '<%= alertaIcono %>',
                showConfirmButton: <%= mostrarBotonConfirmacion %>,
                timer: <%= timer %>
            }).then(()=> {
                window.location = '/<%= rutaRedireccion %>'
            });
        </script>
        <%}%> <%if(esAlertaSinRecarga){%>
        <script>
            Swal.fire({
                title: '<%= alertaTitulo %>',
                text: '<%= alertaMensaje %>',
                icon: '<%= alertaIcono %>',
                showConfirmButton: <%= mostrarBotonConfirmacion %>,
                timer: <%= timer %>
            })
        </script>
        <%}%>

        <script>
            let objCapacitaciones = [];
            let objDatosCapacitacion = {};
            let objHorarios = [];
            let objDatosHorario = {};

            <% datosCapacitaciones.forEach((capacitacion) => { %>
                objDatosCapacitacion.idCapacitacion = <%= capacitacion.id_capacitacion%>
                objDatosCapacitacion.nombre = '<%= capacitacion.nombre%>'
                objDatosCapacitacion.idHorario = <%= capacitacion.id_horario%>
                objCapacitaciones.push(objDatosCapacitacion);
                objDatosCapacitacion = {};
            <% }) %>
            // console.log(objCapacitaciones);

            <% datosHorarios.forEach((horario) => { %>
                objDatosHorario.idHorario = <%= horario.id_horario%>
                objDatosHorario.nombre = '<%= horario.descripcion%>'
                objHorarios.push(objDatosHorario);
                objDatosHorario = {};
            <% }) %>
            // console.log(objHorarios);


            function setearHorario() {
                let opcion = document.querySelector('#selectCrearCapacitacion').value;
                let inputHorario = document.querySelector('#inputIdHorario');
                // console.log(opcion);

                if(opcion == 0){
                    inputHorario.setAttribute('value', '');
                }else{
                    objCapacitaciones.forEach((cap)=>{
                        if(cap.idCapacitacion == opcion){
                            // console.log(cap);
                            objHorarios.forEach((hora) => {
                                if(hora.idHorario == cap.idHorario){
                                    // console.log(hora)
                                    inputHorario.setAttribute('value', hora.nombre);
                                }
                            })
                        }
                    })
                }

            }

            function cambiarEstado(id, estado) {
                let mensaje = ``;
                if (estado == 'S') {
                    mensaje = 'Seguro que desea inactivar la matrícula?';
                } else {
                    mensaje = 'Seguro que desea activar la matrícula?';
                }

                Swal.fire({
                    title: mensaje,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Confirmar',
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location = `/inactivar-matricula?id=${id}&estado=${estado}`;
                    }
                });
            }

            function confirmarEliminacion(id) {
                Swal.fire({
                    title: 'Seguro que desea eliminar la matrícula?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Confirmar',
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location = `/eliminar-matricula?id=${id}`;
                    }
                });
            }
        </script>

        <script>
            function editar(id, nombre, descripcion, cupos, horas, fechaInicio, fechaFin, idCurso, idHorario, idDocente) {
                // console.log(id, nombre, descripcion, cupos, horas, fechaInicio, fechaFin, idCurso, idHorario, idDocente);

                document.querySelector('#idCapacitacion').setAttribute('value', id);
                document.querySelector('#nombreCapacitacion').setAttribute('value', nombre);
                document.querySelector('#descripcionCapacitacion').setAttribute('value', descripcion);
                document.querySelector('#cuposCapacitacion').setAttribute('value', cupos);
                document.querySelector('#horasCapacitacion').setAttribute('value', horas);
                document.querySelector('#fechaInicioCapacitacion').setAttribute('value', fechaInicio);
                document.querySelector('#fechaFinCapacitacion').setAttribute('value', fechaFin);
                document.querySelector('#selectCurso').value = idCurso;
                document.querySelector('#selectHorario').value = idHorario;
                document.querySelector('#selectDocente').value = idDocente;
            }
        </script>

        <script>
            $(document).ready(function () {
                $('#selectCrearCapacitacion, #selectCrearEstudiante, #selectModificarCapacitacion, #selectModificarEstudiante').select2({
                    dropdownParent: $('#modalCrearMatricula .modal-body'),
                    language: {
                        noResults: function () {
                            return 'No hay resultados';
                        },
                        searching: function () {
                            return 'Buscando...';
                        },
                    },
                });
            });
        </script>
    </body>
</html>
